<!DOCTYPE html>
<html lang="ch-zn">
<head>
    <meta charset="UTF-8">
    <title>ajax测试</title>
    <script src="js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <span id="ajaxGet" style="border: 1px solid gray;padding: 5px 8px;">提交Get</span>
    <span id="ajaxPost" style="border: 1px solid gray;padding: 5px 8px;">提交Post</span>
    <span id="ajaxPut" style="border: 1px solid gray;padding: 5px 8px;">提交Put</span>
    <span id="ajaxDelete" style="border: 1px solid gray;padding: 5px 8px;">提交Delete</span>
    <script>
        $(function() {
            // get
            $('#ajaxGet').click(function() {
                $.ajax({
                    url: 'http://localhost:5001/verCode/phoneCode',
                    type: 'GET',
                    data: {
                        phone: '18759360126'
                    },
                    success: function(result) {
                        console.log(result)
                    }
                });
            });

            // post
            $('#ajaxPost').click(function() {
                var postData = JSON.stringify({
                    phone: '18759360126',
                    password: '111',
                    code: '1234'
                });
                console.log(postData)

                $.ajax({
                    url: 'http://localhost:5001/users/user',
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    dataType:"json",
                    data: postData,
                    success: function(result) {
                        console.log(result)
                    }
                });
            });

            // put
            $('#ajaxPut').click(function() {
                $.ajax({
                    url: 'http://localhost:5001/users/user',
                    type: 'PUT',
                    success: function(result) {
                        console.log('put')
                    }
                });
            });

            // del
            $('#ajaxDelete').click(function() {
                $.ajax({
                    url: 'http://localhost:5001/users/userEntry',
                    type: 'DELETE',
                    contentType:"application/json",
                    dataType:"json",
                    success: function(result) {
                        console.log('del')
                    }
                });
            });
        });
    </script>
</body>
</html>